<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashZalogowani</title>
</head>

<body>
    hello from dashBoard


    <% if(name){ %>
        <h3>
            <%= name %> is logged in
        </h3>
        <% } %>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                <a href="/logout">logout</a>
            </p>
</body>


</html>