<div class="header">
    <div class="header-background"></div>
    <div class="header-content">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <% if(user && user.email) { %>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <% } %>
            </ul>
        </nav>

        <% if(user && user.email && user.role==="admin" ) { %>
            <nav>

                <ul>
                    <li><a href="/admin/users">Users</a></li>
                </ul>
            </nav>
            <% } %>
    </div>
</div>

<p>
    <% if(user && user.email) { %>
        <h3>Dashboard</h3>
        <h3>
            <%= user.email %> is logged in!
        </h3>
        <% } %>
</p>